
/* navbar */
.brand{
    height: 70px;
    /* color:lightseagreen; */
    color: rgb(14, 85, 81);
    /* color: rgb(60, 153, 153); */
    font-size: 24px;
    font-style: unset;
    font-weight: 600;
    font-family:ITC BENGUIAT;
    text-shadow: 0PX 1PX 5PX rgb(172, 169, 169);
    /* text-align: center; */
}

.tgbtn{
    color: black;
}

.nav-link{
    margin-left: 60px;
    font-size: 20px;
    font-weight:500;
    color: black;    
}

.nav-link:hover{
    
    color: rgba(30, 199, 255, 0.726);
    cursor: pointer;
}

/* nabar hovers */
.h:hover{
    color: lightseagreen;
    cursor: pointer;
    transition: 2s;
}
.c:hover{
    color: lightseagreen;
    cursor: pointer;
    transition: 2s;
}

.search:hover{
     cursor: none;
}

.dbitems:hover{
    background-color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
    color: white;
}

.icons{
    margin: 7px;
    font-size: 20px;   
    color: black;
}
.icons:hover{
    color: lightseagreen;
    transition: 2s;
    cursor: pointer;
}



/* FOOTER   */

footer{
    /* width: 97%;
    position: absolute;
    top: 900px; */
    background-color: rgb(104, 111, 117);
    color: white;
    height:50%;
    margin-left: 30px;
    border-radius: 20px;
    background-color: rgb(39, 38, 38);
}
/* ROW  */
#foot{
    margin-top: 50px;
    color: white;
    
}

/* FIRST COLOM */
#fcolone{
    margin-left: 70px;
    text-align: start;
    color: lightgray;
    font-size: 25px;
}
#para{
    font-size: 18px;
}

/*  SECOND COLOUM */
#contact{
    /* margin-left: 100px; */
    color: lightgray;
    margin-top: 26px;
}

/*  THIRD COLOM  FOLOW US     */
.soicon{
    margin-top: 26px;
}


.iconss{
    margin: 10px;
    text-decoration: none;
    color: lightgray;
    font-size: 28px;
}
#insta:hover{
    transition: 1s;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(orange, rgba(241, 50, 50, 0.979), rgb(224, 15, 144));
}

#face:hover{
    color: rgb(6, 122, 189);
    transition: 1s;
}
#twiter:hover{
    color: lightskyblue;
    transition: 1s;
}
#yt:hover{
    color: rgb(221, 33, 33);
    transition: 1s;
}



#container h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    font-weight: 500;
}

header{
    text-align: center;
}



.left{
    background-color: black;
    color: white;
    height: 400px;
}

.contact-form input{
   margin-left: 3%;
   border: none;
   margin: 20px;
   padding: 8px;
   width: 80%;
   border-radius: 10px;
}
.contact-form textarea{
    margin-left: 3%;
    border: none;
    margin: 20px;
    padding: 8px;
    width: 80%;
    border-radius: 10px;
 }
.contact-form button{
    background-color: white;
    color: black;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 10px;
    transition: 0.5s ease-in;
}
.contact-form button:hover{
    transform: scale(1.08);
    box-shadow: 2px 2px 25px white;
}

.right{
    background-color: black;
    color: white;
    height: 400px;
}

.right iframe{
    width: 100%;
    height: 300px;
    /* margin-left: 60px; */
    border-radius: 19px;
    filter: invert(100%);
}


/* .content{
    display: inline-block;
    padding-left: 10%;
    margin-top: 5.5%;
    background-color: rgba(219, 223, 223, 0.363);
    width: 40%;
    height: 350px;
    border-radius: 18px;
} */
/* 
.form{
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 500px;
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 15px;
}

.contact-form input {
    margin-bottom: 40px;
    width: 70%;
    height: 5%;
    padding: 10px;
    margin-left: 20px;
    border: none;
    border-radius: 10px
}


.contact-form textarea {
    margin-bottom: 40px;
    height: 5%;
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px
}

.contact-form button{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.986);
    color: rgb(0, 0, 0);
    border: 10px rgb(148, 135, 135);
    width: 16%;
    margin-left: 20px;
    font-weight: bold;
}

.right{
    width: 100%;
    margin-top:20px;
    margin-left: 4%;
}
.right h2{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-left: 80px; 
      margin-bottom: 10%;     
}


.map{
    height: 70%;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.map h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.map iframe{
    width: 97%;
    height: 90%;
    border-radius: 19px;
    filter: invert(100%);
} */

